body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#taskContainer {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

.completed span {
  text-decoration: line-through;
  color: #999; 
}

.markBtn, .deleteBtn {
  width: 32px;  
  height: 32px; 
  padding: 0;   
  display: inline-flex;
  justify-content: center; 
  align-items: center;     
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

.markBtn {
  background-color: #28a745;
  margin-right: 8px; 
  transition: background-color 0.3s;
}

.markBtn:hover {
  background-color: #218838;
}

.deleteBtn {
  background-color: #dc3545;
  transition: background-color 0.3s;
}

.deleteBtn:hover {
  background-color: #c82333;
}